<title>Site Name</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--Styles-->
<link rel="stylesheet" href="@@prefix/css/styles.css" />

<!--Fonts-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kristi&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">


<!--Icons-->
<link href="https://dawneggleton.github.io/css/all.css" rel="stylesheet" />

<!--Script Libraries-->
<script type='text/javascript' src='https://files.jcink.net/html/jquery-1.7.2.min.js'></script>
<script type='text/javascript' src='https://files.jcink.net/html/jquery.cookie-1.3.1.js'></script> 
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>
<script src="@@prefix/js/clipboard.js"></script>
<script src="@@prefix/js/functions.js"></script>

<!--Settings-->
<script type='text/javascript' src='@@prefix/js/settings.js'></script>
<link rel="stylesheet" href="@@prefix/css/settings.css" />