/*******************************
    Header
********************************/
header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid var(--border-main);

    #idx & {
        min-height: 50vh;

        h1 {
            font-size: 80px;
        }
    }
    body:not(#idx) > & {
        padding: 35px 35px 55px 25px;

        h1 {
            font-size: 40px;
        }
    }
    body:not(#idx):not(#ST) > & {
        p {
            display: none;
        }
    }

    h1 {
        font-family: var(--font-accent);
        margin: 0;
    }

    p {
        max-width: 500px;
        text-transform: uppercase;
        letter-spacing: 0.5em;
        font-size: var(--xsBody);
        text-align: center;
        line-height: 200%;

        b {
            color: var(--text-accent);
        }
    }
}