/*******************************
    Navigation
********************************/
.nav {
    border-bottom: 1px solid var(--border-main);
    padding: 10px 8px;
    font-size: var(--xsBody);
    text-transform: uppercase;
    letter-spacing: 1px;
    background: var(--bg-main);
    position: sticky;
    top: 27px;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    align-items: center;

    #idx &,
    #SC & {
        top: 0;
    }

    .lrgFont & {
        top: 30px;
    }

    &--left,
    &--right {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
    }
    &--right {
        #navstrip {
            display: none;
        }

        i {
            font-size: var(--sBody);
        }

        button {
            display: flex;
            margin: 0;
            padding: 0;
            border: none;
            background: none;
            color: var(--text-accent);
            cursor: pointer;

            &[disabled] {
                display: none;
            }

            body:not(.light) & .fa-brightness-low {
                display: none;
            }
            body.light & .fa-brightness {
                display: none;
            }

            body:not(.lrgFont) & .fa-arrow-down-left-and-arrow-up-right-to-center {
                display: none;
            }
            body.lrgFont & .fa-arrow-up-right-and-arrow-down-left-from-center {
                display: none;
            }
        }
    }
}