@import '../global/sizes.scss';

/*******************************
    Webpages
********************************/
.webpage {
    margin: 10px;
    background: var(--bg-main);
    padding: 10px;

    @media only screen and (min-width: $sm) {
        margin: 50px;
        padding: 15px;
    }

    &--border {
        border: 1px solid var(--border-secondary);
    }

    &--menu {
        tag-labels {
            display: grid;
            grid-template-columns: max-content auto max-content;
            padding: 5px;
            border-bottom: 1px solid var(--border-secondary);

            button {
                border: none;
                background: none;
                color: var(--text-secondary);
                font-size: var(--xsBody);
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                padding: 5px 10px;
                cursor: pointer;

                &:first-child {
                    border-right: 1px solid var(--border-secondary);
                }

                &:last-child {
                    border-left: 1px solid var(--border-secondary);
                }
            }

            tag-labelset {
                display: flex;
                align-items: center;
                padding: 5px 10px;
                text-transform: uppercase;
                font-size: var(--xsBody);
                letter-spacing: 1px;
                gap: 15px;
                font-weight: 700;
                border: 1px solid var(--accent-dark);
                overflow: auto;
                white-space: nowrap;
                scroll-behavior: smooth;
                scrollbar-width: none;
    
                &::-webkit-scrollbar {
                    display: none;
                }

                a {
                    border: 1px solid var(--text-accent);
                    padding: 5px 8px 3px;

                    &.is-active,
                    &:hover {
                        background: var(--text-accent);
                        color: var(--bg-main);
                    }
                }
            }
        }
    }

    &--content {
        display: flex;
        overflow: hidden;
        margin: 15px;

        @media only screen and (max-width: $sm) {
            width: calc(100vw - 87px);
        }

        tag-tab {
            flex: 0 0 100%;
            left: 0;
            transition-duration: 0.75s;

            form {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px 15px;

                input,
                select,
                textarea {
                    width: 100%;
                }

                label {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    strong {
                        text-transform: uppercase;
                        color: var(--text-accent);
                    }

                    i {
                        text-transform: uppercase;
                        font-size: var(--xsBody);
                        letter-spacing: 1px;
                        line-height: 200%;
                    }
                }
            }
        }
    }

    tag-tab {
        > h2 {
            font-family: var(--font-accent);
            color: var(--text-accent);
            font-size: 30px;
            letter-spacing: 1px;
            text-align: center;
            text-transform: lowercase;
            border-bottom: 1px solid var(--border-main);
            margin: 24px auto;
            max-width: max-content;
            padding: 0 50px 10px;
        }
        > h3 {
            font-family: var(--font-accent);
            text-transform: lowercase;
            font-size: calc(var(--xlBody) + 8px);
            color: var(--text-secondary);
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
            padding-right: 22.5px;
            margin: 20px auto;
        
            &::before {
                content: '';
                width: 30px;
                height: 1px;
                background: var(--text-accent);
                display: block;
            }
        }
        > h4 {
            text-transform: uppercase;
            font-weight: 300;
            text-align: center;
            font-size: var(--xlBody);
            letter-spacing: 3px;
            color: var(--text-secondary);
            margin: 20px auto;
        }
        > h5 {
            text-transform: uppercase;
            font-size: var(--sBody);
            letter-spacing: 2px;
            color: var(--text-secondary);
            margin: 20px auto;
            max-width: 300px;
            text-align: center;
            font-weight: 400;
        }
        > h6 {
            text-transform: uppercase;
            font-size: var(--xsBody);
            letter-spacing: 1px;
            font-style: italic;
            color: var(--text-accent);
            margin: 20px auto;
            max-width: 300px;
        }
    }
}
.form {
    &--end {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        margin-bottom: 5px;
    }
    &--warning {
        flex: 0 0 100%;
        background: var(--bg-secondary);
        width: 100%;
        padding: 18px 18px 15px;
        border-radius: 3px;
        color: var(--text-secondary);
        font-size: var(--xlBody);
        font-weight: 700;
        text-align: center;

        &:empty {
            display: none;
        }
    }
}
.character {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: $sm) {
        flex: 0 0 calc((100% / 2) - (15px / 2));
    }

    @media only screen and (min-width: $lg) {
        flex: 0 0 calc((100% / 3) - (30px / 3));
    }

    &--grid {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }

    &--topper {
        display: grid;
        grid-template-columns: 100px auto;
        min-height: 100px;
    }

    &--image {
        width: 100px;
        height: 0;
        min-height: 100%;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background: var(--bg-secondary);
            width: 100%;
            height: 100%;
            clip-path: polygon(0 100%, 100% 100%, 100% 0);
        }

        img {
            width: 70px;
            height: 70px;
            object-fit: cover;
            border-radius: 10px;
        }
    }

    &--title {
        background: var(--bg-secondary);
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        padding: 15px;

        h3 {
            font-family: var(--font-accent);
            color: var(--text-accent);
            text-transform: capitalize;
            font-size: 24px;
            margin: 0;
        }

        a {
            text-transform: uppercase;
            font-size: var(--xsBody);
            letter-spacing: 1px;
            color: var(--text-secondary);
        }
    }

    &--info {
        background: var(--bg-secondary);
        padding: 5px 15px;
        flex-grow: 1;

        &:last-child {
            padding-bottom: 15px;
        }

        span {
            background: var(--text-accent);
            color: var(--bg-main);
            text-transform: uppercase;
            font-size: var(--xsBody);
            padding: 5px 8px 3px;
            letter-spacing: 1px;
            font-weight: 700;
            border-radius: 3px;
            height: max-content;
        }
    }

    &--flex {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }

    &--summary {
        background: var(--bg-secondary);
        padding: 15px;
        line-height: 200%;
        text-align: justify;

        .scroll {
            padding-right: 15px;
            overflow: auto;
            height: 70px;
        }
    }
}